# LITNET-2020 Dataset Analysis

* **Author:** Patrik Goldschmidt (igoldschmidt@fit.vut.cz)
* **Project:** Network Intrusion Datasets: A Survey, Limitations, and Recommendations
* **Date:** 2024

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
DATAPATH = '/data/surv/litnet-2020/allFlows.csv'

In [3]:
data_all = pd.read_csv(DATAPATH, chunksize=100000)

In [4]:
sample = next(data_all)

In [5]:
sample.info(show_counts=True, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 85 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ID               100000 non-null  int64
 1   ts_year          100000 non-null  int64
 2   ts_month         100000 non-null  int64
 3   ts_day           100000 non-null  int64
 4   ts_hour          100000 non-null  int64
 5   ts_min           100000 non-null  int64
 6   ts_second        100000 non-null  int64
 7   te_year          100000 non-null  int64
 8   te_month         100000 non-null  int64
 9   te_day           100000 non-null  int64
 10  te_hour          100000 non-null  int64
 11  te_min           100000 non-null  int64
 12  te_second        100000 non-null  int64
 13  td               100000 non-null  float64
 14  sa               100000 non-null  object
 15  da               100000 non-null  object
 16  sp               100000 non-null  int64
 17  dp               100000 non-null  int64
 18  pr               100000 non-null  object
 19  _flag1           100000 non-null  object
 20  _flag2           100000 non-null  object
 21  _flag3           100000 non-null  object
 22  _flag4           100000 non-null  object
 23  _flag5           100000 non-null  object
 24  _flag6           100000 non-null  object
 25  fwd              100000 non-null  int64
 26  stos             100000 non-null  int64
 27  ipkt             100000 non-null  int64
 28  ibyt             100000 non-null  int64
 29  opkt             100000 non-null  int64
 30  obyt             100000 non-null  int64
 31  _in              100000 non-null  int64
 32  out              100000 non-null  int64
 33  sas              100000 non-null  int64
 34  das              100000 non-null  int64
 35  smk              100000 non-null  int64
 36  dmk              100000 non-null  int64
 37  dtos             100000 non-null  int64
 38  _dir             100000 non-null  int64
 39  nh               100000 non-null  object
 40  nhb              100000 non-null  object
 41  svln             100000 non-null  int64
 42  dvln             100000 non-null  int64
 43  ismc             100000 non-null  object
 44  odmc             100000 non-null  object
 45  idmc             100000 non-null  object
 46  osmc             100000 non-null  object
 47  mpls1            100000 non-null  object
 48  mpls2            100000 non-null  object
 49  mpls3            100000 non-null  object
 50  mpls4            100000 non-null  object
 51  mpls5            100000 non-null  object
 52  mpls6            100000 non-null  object
 53  mpls7            100000 non-null  object
 54  mpls8            100000 non-null  object
 55  mpls9            100000 non-null  object
 56  mpls10           100000 non-null  object
 57  cl               100000 non-null  float64
 58  sl               100000 non-null  float64
 59  al               100000 non-null  float64
 60  ra               100000 non-null  object
 61  eng              100000 non-null  object
 62  exid             100000 non-null  int64
 63  tr               100000 non-null  object
 64  icmp_dst_ip_b    100000 non-null  object
 65  icmp_src_ip      100000 non-null  object
 66  udp_dst_p        100000 non-null  object
 67  tcp_f_s          100000 non-null  object
 68  tcp_f_n_a        100000 non-null  object
 69  tcp_f_n_f        100000 non-null  object
 70  tcp_f_n_r        100000 non-null  object
 71  tcp_f_n_p        100000 non-null  object
 72  tcp_f_n_u        100000 non-null  object
 73  tcp_dst_p        100000 non-null  object
 74  tcp_src_dst_f_s  100000 non-null  object
 75  tcp_src_tftp     100000 non-null  object
 76  tcp_src_kerb     100000 non-null  object
 77  tcp_src_rpc      100000 non-null  object
 78  tcp_dst_p_src    100000 non-null  object
 79  smtp_dst         100000 non-null  object
 80  udp_p_r_range    100000 non-null  object
 81  p_range_dst      100000 non-null  object
 82  udp_src_p_0      100000 non-null  object
 83  attack_t         100000 non-null  object
 84  attack_a         100000 non-null  int64
dtypes: float64(4), int64(33), object(48)
memory usage: 64.8+ MB

In [6]:
sample.head()

,ID,ts_year,ts_month,ts_day,ts_hour,ts_min,ts_second,te_year,te_month,te_day,te_hour,te_min,te_second,td,sa,da,sp,dp,pr,_flag1,_flag2,_flag3,_flag4,_flag5,_flag6,fwd,stos,ipkt,ibyt,opkt,obyt,_in,out,sas,das,smk,dmk,dtos,_dir,nh,nhb,svln,dvln,ismc,odmc,idmc,osmc,mpls1,mpls2,mpls3,mpls4,mpls5,mpls6,mpls7,mpls8,mpls9,mpls10,cl,sl,al,ra,eng,exid,tr,icmp_dst_ip_b,icmp_src_ip,udp_dst_p,tcp_f_s,tcp_f_n_a,tcp_f_n_f,tcp_f_n_r,tcp_f_n_p,tcp_f_n_u,tcp_dst_p,tcp_src_dst_f_s,tcp_src_tftp,tcp_src_kerb,tcp_src_rpc,tcp_dst_p_src,smtp_dst,udp_p_r_range,p_range_dst,udp_src_p_0,attack_t,attack_a
0,1,2020,1,25,3,44,57,2020,1,25,3,44,57,0.28,193.219.74.172,83.169.5.121,59758,3306,TCP,.,A,P,.,.,F,0,8,10,1080,0,0,762,556,2847,8972,0,0,0,0,0.0.0.0,0.0.0.0,0,0,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0.0,0.0,0.0,0.0.0.0,0/0,1,1970-01-01 03:00:00.000,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,none,0
1,2,2020,1,25,3,44,52,2020,1,25,3,44,57,4.73,184.73.156.247,193.219.75.85,443,58895,TCP,.,A,.,.,.,F,0,0,10,7300,0,0,707,588,14618,2847,0,0,0,0,0.0.0.0,0.0.0.0,0,0,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0.0,0.0,0.0,0.0.0.0,0/0,1,1970-01-01 03:00:00.000,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,none,0
2,3,2020,1,25,3,44,57,2020,1,25,3,44,57,0.00,83.171.40.3,80.82.77.132,6666,56667,TCP,.,A,.,R,.,.,0,0,5,200,0,0,922,556,2847,202425,0,0,0,0,0.0.0.0,0.0.0.0,0,0,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0.0,0.0,0.0,0.0.0.0,0/0,1,1970-01-01 03:00:00.000,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,none,0
3,4,2020,1,25,3,44,38,2020,1,25,3,44,57,19.29,95.108.213.17,158.129.192.240,62443,80,TCP,.,A,.,.,S,F,0,164,20,1080,0,0,556,558,13238,2847,0,0,0,0,0.0.0.0,0.0.0.0,0,0,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0.0,0.0,0.0,0.0.0.0,0/0,1,1970-01-01 03:00:00.000,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,none,0
4,5,2020,1,25,3,44,55,2020,1,25,3,44,57,1.82,124.115.207.226,158.129.192.178,56637,33896,TCP,.,A,P,R,.,.,0,0,10,825,0,0,707,558,4134,2847,0,0,0,0,0.0.0.0,0.0.0.0,0,0,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,00:00:00:00:00:00,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0-0-0,0.0,0.0,0.0,0.0.0.0,0/0,1,1970-01-01 03:00:00.000,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,normal,none,0

Just based on this, we see that the data are not sorted by timestamps of the start. They still may be sorted by the end however.

The algorithm below could be more easily tackled by Big-Data libraries like Dask or Polars. However, I somehow forgot they exist and decided to code an own algorithm for the purpose instead.

In [7]:
# Iterate through the whole dataframe and save classes value counts
# and length of the df + measure if the entries are sorted
import datetime

data_all = pd.read_csv(DATAPATH, chunksize=1000000)
all_classes_counts_a = pd.Series(dtype=int)
all_classes_counts_t = pd.Series(dtype=int)
total_len = 0
last_overall_timestamp = None
timestamps_sorted_ascending = True
timestamps_sorted_descending = True

for chunk in data_all:
    chunk_a_counts = chunk['attack_a'].value_counts()
    chunk_t_counts = chunk['attack_t'].value_counts()
    last_entry = chunk.iloc[-1]

    all_classes_counts_a = all_classes_counts_a.add(chunk_a_counts, fill_value=0)
    all_classes_counts_t = all_classes_counts_t.add(chunk_t_counts, fill_value=0)

    total_len += len(chunk)

    last_chunk_timestamp = datetime.datetime(
        year=last_entry['te_year'],
        month=last_entry['te_month'],
        day=last_entry['te_day'],
        hour=last_entry['te_hour'],
        minute=last_entry['te_min'],
        second=last_entry['te_second']
    )

    # Optimized chunk-check for ascending timestamps
    if last_overall_timestamp is not None and timestamps_sorted_descending:
        if last_overall_timestamp > last_chunk_timestamp:
            timestamps_sorted_descending = False

            print("Descending condition broken:")
            print(f"Current: {last_chunk_timestamp}\nOverall: {last_overall_timestamp}")

    # Optimized chunk-check for descending timestamps
    if last_overall_timestamp is not None and timestamps_sorted_ascending:
        if last_chunk_timestamp > last_overall_timestamp:
            timestamps_sorted_ascending = False

            print("Ascending condition broken:")
            print(f"Current: {last_chunk_timestamp}\nOverall: {last_overall_timestamp}")

    last_overall_timestamp = last_chunk_timestamp


all_classes_counts_a = all_classes_counts_a.astype(np.int32)
all_classes_counts_t = all_classes_counts_t.astype(np.int32)

Ascending condition broken:
Current: 2020-01-25 03:46:39
Overall: 2020-01-25 03:45:12
Descending condition broken:
Current: 2019-11-15 05:12:19
Overall: 2020-01-25 03:48:37

In [8]:
total_len

39603674

In [9]:
timestamps_sorted_ascending, timestamps_sorted_descending

(False, False)

In [10]:
all_classes_counts_a

attack_a
0    36423860
1     3179814
dtype: int32

In [11]:
all_classes_counts_t

attack_t
http_f              22959
icmp_f              23256
icmp_smf           118958
none             36423860
smtp_b                747
tcp_land            52417
tcp_red_w         1255702
tcp_syn_f         1580016
tcp_udp_win_p        6232
tcp_w32_w           24291
udp_0                 477
udp_f               93583
udp_reaper_w         1176
dtype: int32

In [12]:
first_timestamp = datetime.datetime(
    year=sample.iloc[0]['te_year'],
    month=sample.iloc[0]['te_month'],
    day=sample.iloc[0]['te_day'],
    hour=sample.iloc[0]['te_hour'],
    minute=sample.iloc[0]['te_min'],
    second=sample.iloc[0]['te_second']
)
first_timestamp

datetime.datetime(2020, 1, 25, 3, 44, 57)

In [13]:
last_chunk_timestamp

datetime.datetime(2019, 3, 6, 21, 18, 57)

Although not directly, data still look somewhat descending. Since we cannot easily sort it due to the data size and the start and end dates generally match the documentation, we will suppose that the capture is contiguous.